{% extends "base.html" %}
{% block content %}
<div class="columns is-centered">
    <div class="column">
        <h5>Account Info</h5>
        {% if account.recurrence == "monthly" %}
        <p class="button is-fullwidth mb-1">This bill recurs monthly</p>
        {% endif %}
        {% if account.pay_period|length %}
        <p class="button is-fullwidth mb-1">Pay after payday on the {{ account.pay_period }}th</p>
        {% endif %}
        <p class="button is-fullwidth mb-1 {{ 'has-background-success-light' if account.status == 1 else 'has-background-warning-light' }}">This account is  {{ "active" if account.status == 1 else "inactive" }}</p>
        {% if account.outstanding > 0 %}
        <p class="button is-fullwidth has-background-danger-light mb-1">Outstanding:  {{ "${:,.2f}".format(account.outstanding) }}</p>
        {% endif %}
        {% if account.apr > 0 %}
        <p class="button is-fullwidth mb-1">APR:  {{ "$%.2f"|format(account.apr|float) }}%</p>
        {% endif %}
        {% if account.tag|length %}
        <p class="button is-fullwidth mb-1">Filed under:  {{ account.tag }}</p>
        {% endif %}
        {% if account.url|length %}
        <a class="button is-fullwidth is-info mb-1" href="{{ account.url }}" target="_blank" rel="noopener noreferrer">Website</a>
        {% endif %}
        <a class="button is-fullwidth is-warning" href="{{ url_for('bills.account_edit', aid = account.id) }}">Edit</a>
    </div>
    <div class="column">
        <h5>Transactions</h5>
        {% include "bills/transaction_list.html" %}
    </div>
    <div class="column">

    </div>
</div>
{% endblock %}
