<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/png">
</head>
<body>
<section class="section">
  <div class="container">
    <header>
    {% include 'menu/main_menu.html' %}
    </header>
    <h1 class="title">{{ title }}<h1>
    <section class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <article class="message {{ category }}">
            <div class="message-body is-4 is-4-fullhd is-4-desktop is-6-tablet is-10-mobile">{{ message }}</div>
        </article>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </section>
    {% include 'footer.html' %}
  </div>
</section>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://kit.fontawesome.com/86f34da8fc.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.prod.js') }}"></script>
</body>
</html>
